.deck-container {
    display: grid;
    grid-template-columns: repeat(3, 283px);
    grid-template-rows: repeat(15, 44px);
    grid-auto-flow: column;
    overflow: hidden;
    padding: 27px;
    row-gap: 5px;
    column-gap: 16px;
}