.mana-curve-container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    .background, .curve-container {
        width: 90%;
        height: 75%;
        grid-row: 1;
        grid-column: 1;
    }
    .background {
        z-index: 1;
    }
    .curve-container{
        z-index: 2;
        display: grid;
        grid-auto-flow: column;
        align-items: flex-start;
        justify-items: center;
        width: 80%;
        height: 80%;
    }
}