.key-card-container{
    display: grid;
    width: 100%;
    transform-style: preserve-3d;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    .face {
        width: 90%;
        grid-row: 1;
        grid-column: 1;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: 2s ease-in-out;
        transform: perspective(500px) rotateY(0deg);
    }
    .face.front {
        animation: keycardmoverfront 2s;
        animation-fill-mode: forwards;
        animation-delay: calc(var(--order) * 2000ms);
        transform: perspective(500px) rotateY(180deg);
        .key-card {
            width: 100%;
        }
    }
    .face.back {
        animation: keycardmoverback 2s;
        animation-fill-mode: forwards;
        animation-delay: calc(var(--order) * 2000ms);
        .card-back{
            width: 100%;
        }
    }
}
.card-placeholder-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .card-placeholder {
        width: 90%;
    }
}
@keyframes keycardmoverback {
    to {
        transform: perspective(500px) rotateY(180deg);
    }
}


@keyframes keycardmoverfront {
    to {
        transform: perspective(500px) rotateY(360deg);
    }
}


