#app {
    width: 1920px;
    height: 1080px;
}

.app-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 46% 32%;
    grid-template-columns: 50% 31% 17%;
    background-image: url("https://i.imgur.com/KDFgZkf.png");
    gap: 1%;

    .player-name {
        grid-column: 1 / 4;
        grid-row: 1;
    }
    .deck-list {
        grid-column: 1;
        grid-row: 2 / 4;
        background-image: url("https://i.imgur.com/r1zkkQx.png");
        background-repeat: no-repeat;
    }
    .key-cards {
        grid-column: 2 / 4;
        grid-row: 2;
        background-image: url("https://i.imgur.com/hW1TO9G.png");
        background-repeat: no-repeat;
    }
    .mana-curve {
        grid-column: 2;
        grid-row: 3;
        margin-top: 19px;
        background-image: url("https://i.imgur.com/lRjTMTI.png");
        background-repeat: no-repeat;
    }
    .deck-code {
        grid-column: 3;
        grid-row: 3;
        margin-top: 19px;
        background-image: url("https://i.imgur.com/DzvlsSv.png");
        background-repeat: no-repeat;
    }
}